<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ThugMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ThugMe">
    <meta name="author" content="Honeynet Project">

	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<style>
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
    </style>
	<link rel="stylesheet" href="static/css/bootstrap-responsive.min.css">
	<link href="static/css/font-awesome.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/main.css">	

	<script src="static/js/vendor/modernizr-2.6.2.min.js"></script>	
</head>

<body>
<div class=container-narrow>
    <div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/"><i class="icon-home"></i> Home</a></li>
            <li><a href="https://github.com/honeynet/thugme"><i class="icon-github"></i> Repository</a></li>
        </ul>
        <h1>ThugMe</h1>
    </div>
    </div>
    <hr>
    <div class=clearfix></div>
    <div class=navbar>
        <form class="navbar-form navbar-search pull-right">
            <input type="text" placeholder="http://example.com/evil…">
            <button class="btn"><i class=icon-search></i> Search</button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#analyze-captcha"><i class="icon-plus-sign"></i> Analyze</button>
      </form>
    </div>
    <h4>Recent Analysis</h4>
    

    {% block content %}{% endblock %}

    <hr>

    <div class="footer">
        <p>&copy; <i class="icon-github"></i><a href="https://github.com/honeynet"> Honeynet Project</a> (2013)</p>
    </div>

</div>

<form id="analyze-captcha" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="analyze-captcha" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Humans FTW!</h3>
  </div>
  <div class="modal-body">
    <!-- TODO: Own Recaptcha API Key, autofocus on open -->
      <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6Lcc58sSAAAAAK2DXVazJPQsmWiOKVZCCmKNWOHP"></script>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary put-right">Submit</button>
    </div>
</form>
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

<script src="static/js/vendor/bootstrap.min.js"></script>

<script src="static/js/main.js"></script>

</body>
</html>